# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

TZ=UTC
DATABASE_URL="postgresql://discord:postgres@db:5432/discord?schema=public"
BOT_TOKEN=""
BOT_CLIENT_ID=""
CNNAPI_ENDPOINT="http://192.168.116.78:60000"
TWITCH_CLIENT_ID=""
TWTICH_CLIENT_SECRET=""
MC_API_ENDPOINT="https://localhost:7000"
MC_API_TOKEN=
MC_CHAT_CHANNEL=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
PICTURE_FOLDER_ID=
